* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#bgt-container,
#expense-container,
#data-container {
  margin-bottom: 20px;
}

input[type="number"],
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#expense-table {
  width: 100%;
  border-collapse: collapse;
}

#expense-table th,
#expense-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

#remaining-bgt {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
